<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
  <div style="text-align:center">
    <a href="/login/facebook" class="btn btn-primary" style="color: #fff; background: #007bff;">
        Home
    </a>
    <h1>
      Hello {{ user?.name }}!
    </h1>
    <img width="300" height="300" src={{fields?.picture.url}}>
  </div>
  <h2>User Profile</h2>
  <table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Birthday</th>
    </tr>
    <tr>
      <td>{{ fields?.first_name }}</td>
      <td>{{ fields?.last_name }}</td>
      <td>{{ fields?.gender }}</td>
      <td>{{ fields?.birthday }}</td>
    </tr>
 </table>
  <h2>User Post</h2>
  {{ fields?.posts[0].message }} <!-- Get only the first post on the users page -->
  <h2>User Profile</h2>
  {{ fields?.link }}
</body>