<!DOCTYPE html>
<html>
<head>
<style>
h2 {
  /*background: #0e7bd8; width: fit-content;*/
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
}
.home{
  color: rgb(255, 255, 255);
  background: rgb(111, 111, 111);
  cursor: pointer;
  border-radius: .25rem;
  display: inline-block;
  border: 1px solid transparent;
  width: 75px;
  height: 25px;
  text-decoration: none;
}
</style>
</head>

<body>
  <div style="text-align:center">
    <a class="home" href="/login/facebook">Home</a>
    <h1>Hello {{ user?.name }}!</h1>
    <img width="300" height="300" src={{fields?.picture.url}}>
  </div>
  <div align="center" >
    <h2><u>User Profile</u></h2>
  </div>
  <table align="center" style="width:47%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Birthday</th>
    </tr>
    <tr>
      <td>{{ fields?.first_name }}</td>
      <td>{{ fields?.last_name }}</td>
      <td>{{ fields?.gender }}</td>
      <td>{{ fields?.birthday }}</td>
    </tr>
  </table>
  <div align="center" >
    <h2><u>User Post</u></h2>
    {{ fields?.posts[0].message }} <!-- Get only the first post on the users page -->
    </div>
  <div align="center" >
    <h2><u>User Profile</u></h2>
    <a style="text-decoration: none;" href='{{ fields?.link }}'>Profile</a>
  </div>
</body>